<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Ask</title>
    <%= javascript_include_tag 'jquery' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <%= javascript_include_tag 'tag-it.min' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'kube.min' %>
    <%= stylesheet_link_tag 'master' %>
    <%= stylesheet_link_tag 'jquery-tagit' %>
    <%= stylesheet_link_tag 'tagit' %>
    <%= stylesheet_link_tag 'application' %>
</head>
<body>
    <div class="flash">
        <%= [:error, :warning, :notice].map { |type| flash_tag(type, :class => "message #{type}") }.join %>
    </div>
    <div id="page" class="row">
        <%= yield %>
    </div>

    <div class="footer center grey">
        <p>Powered by Ask</p>
    </div>
    <input type="hidden" id="lang" value="<%= params[:lang] %>" />
</body>
</html>
